*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #2C323F;
    position: absolute;

}

.visual{
    width: 384px ;
    height: 600px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 /0.25);
    border-radius: 12px;
    

}

#resultado{
    width: 384px;
    height: 96px;
    outline: 0;
    border: 0;
    padding: 0px 20px 0px 20px;
    font-size: 24px;
}

.container{
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    font-size: 24px;
    font-weight: bold;
    background-color:gray; 
}

.four{
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding:0px 20px 0px 20px ;
    background-color:gray
}

.s-button{
    width: 64px;
    height: 64px;
    background-color:white;
    border-radius: 50%;
    font-size: 24px;
    font-weight:bold; 
    border: 0;
    cursor: pointer;
}

.s-button-2{
    width: 114px;
    height: 64px;
    border-radius: 50px;
    font-weight: bold;
    background-color: green;

}
